
@font-face {
    font-family: "Samim";
    font-style: normal;
    /* font-weight: 900; */
    src: url("../font/IRANSansDN.ttf");
  }
  @font-face {
    font-family: "Samim";
    font-style: normal;
    font-weight: bold;
    src: url("../font/IRANSansDN-Bold.ttf");
  }
  @font-face {
    font-family:  "Samim";
    font-style:normal;
    font-weight: 300;
    src: url("../font/IRANSansDN_Light.ttf");
    }

:root{
    --main-font:rgb(48, 45, 45);
    --blue:#667cfa;
    --xl-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --md-font-size: 0.930rem;
    --sm-font-size: 0.882rem;
    --xd-font-size: 0.75rem;
}
html {
    scroll-behavior: smooth;
    direction: rtl;
}
*,
*:after,
*:before {
    box-sizing: border-box
}
p,span,a {
    font-size: calc(11px + (16 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  h1{
    font-size: calc(24px + (29.5 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  h2{
    font-size: calc(20px + (24.5 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  h3{
    font-size: calc(18px + (22 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  h4{
    font-size: calc(16px + (20 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  h5{
    font-size: calc(14px + (17 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  h6{
    font-size: calc(13px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
.btn{
    font-size: calc(11px + (16 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}

h1,
h2,
h3,
ul,
p {
    margin: 0 !important;
}

ul {
    padding: 0;
    list-style: none;
}

/* img {
    max-width: 100%;
    height: auto;
} */

a {
    cursor: pointer;
    text-decoration: none !important;
}
button{
    outline: none !important;
}
* {
    font-family: 'Samim';
}

/* /////////////// navbar /////////////// */
.main-nav-logo{
    width: 4rem;  
  }

#navbar-content nav{
    display: flex !important;
    align-items: center;
}
#main-navbar{
    padding:1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-hamburger{
    display:none;
}
#navbar-content nav ul {
    display:inline-block;
}
#navbar-content nav ul li a{
    padding:0 0.5em;
    color: var(--main-font)
}

#navbar-content nav ul li, #navbar-content #logo, #navbar-content nav {
    display: inline-block;
}
#navbar-content{
    float: right;
}
#navbar-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
}

#navbar-sidebar{
    display:none;
    position: fixed;
    width:50%;
    z-index: 1000;
    height:100%;
    top:0;
    right:0;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}
@media only screen and (max-width: 1200px) and (min-width:600px){
    #navbar-sidebar{
        width:30% ;
    }
}
#navbar-sidebar-header{
    /* background-image: url(../img/image.png);
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    height:180px;
    padding: 1rem
}
#navbar-sidebar-header img{
    width: 80%;
    max-height: 100%;
}
#navbar-sidebar-body{
    padding:1em;
}

#navbar-sidebar-body nav ul li a{
    /* display: inline-block; */
    font-weight:700;
    padding:0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:var(--main-font)
}
#navbar-sidebar-body nav ul li :hover{
    /* color:#4d62da; */
}

#navbar-sidebar-body .navbar-user a{
    /* display:block; */
    /* margin-bottom:1em; */
}
.navbar-responsive{
    display: none;
}
@media only screen and (max-width: 1200px){
    .main-nav-logo{
        display: none;
    }
    #main-navbar{
        flex-direction: row-reverse;
    }
    #navbar-content{
        display:none;
    }
    #navbar-hamburger{
        float: right;
        cursor: pointer;
        background-color: transparent;
        color:var(--blue);
        outline: none;
        border: none;
        font-size: x-large;
    }
    
    .navbar-responsive , #navbar-hamburger, #navbar-sidebar, .navbar-activated #navbar-overlay{
        display:block;
    }
    .navbar-activated #navbar-sidebar{
        transform: translateX(0);
    }
}


.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    background: rgb(235, 235, 235);
    width: 100%;
    padding: 10px 20px 10px 15px;
    border: none;
    border-radius: 0 100px 100px 0;
    outline: none;
    font-size: calc(11px + (16 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  
  .search-button  {
    border-radius: 100px 0px 0px 100px;
    background: rgb(235, 235, 235);
    border: none;
    outline: none;
    padding-left: 10px;
  }
  ::placeholder {
    opacity: .6;
  }
  
  .icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    background-size: cover;
  }
  .navbar-I-home {
    background-image: url("../img/homegym.svg");
}
.navbar-I-move{
    background-image: url("../img/move2.svg");
}
.navbar-I-booklet{
    background-image: url("../img/list.svg");
}
.navbar-I-food{
    background-image: url("../img/food.svg");
}
.navbar-I-protein{
    background-image: url("../img/protein.svg");
}
.navbar-I-contact{
    background-image: url("../img/contact.svg");
}

#navbar-sidebar-body nav ul li :hover,
#navbar-sidebar-body nav ul li :focus,
#navbar-content nav ul li :hover{
    transition: all .1s;
    /* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(180deg) brightness(44%) contrast(27%) */
    filter: invert(37%) sepia(100%) hue-rotate(150deg) saturate(800%);
}
#navbar-content li a,
#navbar-sidebar-body #navbar-content nav li{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #navbar-sidebar-body #navbar-content nav li a */
/* @media only screen and (min-width:1200px){ */
/* }  */
/* @media only screen and (max-width:992px){
    h1{
        font-size: 1em !important;
    }
} 
@media only screen and (max-width:768px){
    h1{
        font-size: .8em !important;
    }
} 
@media only screen and (max-width:576px){
    h1{
        font-size: .6em !important;
    }
} 
@media only screen and (max-width:576px){
    h1{
        font-size: .3em !important;
    }
}  */
/* .custom-shape-divider-bottom-1630839306 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1630839306 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1630839306 .shape-fill {
    fill: #E42828;
} */
.header-img{
    min-width: 100%;
    max-width: 100%;
    max-height: 85vh;
}
.header-img-div{
    position: relative;
}
.h-img-t-1{
    position: absolute;
    top: 10%;
    right: 10%;
}
.h-img-t-2{
    position: absolute;
    top: 25%;
    right: 20%;
}
.h-img-t-3{
    position: absolute;
    top: 40%;
    right: 25%;
}
.header-img-title h1{
    font-size: 4rem !important;
    font-weight: bold;
}
@media only screen and (max-width: 1200px){
    .header-img-title h1{
        font-size: 3rem !important;
    }
   
}
@media only screen and (max-width: 900px){
    .header-img-title h1{
        font-size: 2.5rem !important;
    }
   
}
@media only screen and (max-width: 680px){
    .header-img-title h1{
        font-size: 2rem !important;
    }
}
@media only screen and (max-width: 600px){
    .header-img-title h1{
        font-size: 1.5rem !important;
    }
}
@media only screen and (max-width: 400px){
    .header-img-title h1{
        font-size: 1rem !important;
    }
}
.header-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#wave-under-header {
    background: #ffffff;
    padding: 0 3rem;
  }
  
  
  #wave-under-header::after {
    content: "";
    position: relative;
    left: -3rem;
    top: calc( 3rem - 4rem / 2);
    float: left;
    display: block;
    height: 4rem;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23e4e2e2;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %23ffffff;'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
  }
/* box-shadow: 5px 10px 18px #888888;  */
